{{page-title "Testing"}}
{{outlet}}
<div>
  <input type="file"  accept="image/*" {{on "change" this.onChange}} />
  {{#if this.chosenFile}}
    <button class="button" type="button" {{on "click" this.upload}}>Upload</button>
  {{else}}
    <button class="button" disabled type="button" >Upload</button>
  {{/if}}

</div>

<Image-Upload></Image-Upload>